@keyframes fadeRightToLeft {
  0% {
    opacity: 0.3;
    transform: translateY(40%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeRightToLeft {
  animation: fadeRightToLeft 2s forwards;
}
